@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --primary-color:#FDEF0A;
    --text-color:#f7f7f7;
    --secondary-color:#26282B;
    --content-text: font-family: 'Cairo', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   overflow-x: hidden;

}

.career-container{
    width: 100%;
    height: auto;
    padding: 4em 0;
    background-color: var(--text-color);
    font-family: 'Cairo', sans-serif;
}

.career-container .career-container-header{
    text-align: left;
    padding: 4em 0;
    display: flex;
    margin-bottom: 4em;
}

.career-container-heading{
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 0.5em;
    color:var(--secondary-color);
}

.career-container-sub-heading{
    width: auto;
    font-size: 20px;
    letter-spacing: 2px;
    color: #888e99;
    margin: 2em 0;
}

.career-container-header button, .career-container-sub-header button{
    border: none;
    background: transparent;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.career-container-header button:hover, .career-container-sub-header button:hover{
    letter-spacing: 2px;
}

.career-container-sub-header{
    width: 100%;
    text-align: right;
    margin-bottom: 8em;
    display: flex;
}

.apply-btn{
    padding: 0.5em 1.5em;
    border: none;
    background-color: var(--primary-color);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #242424d5;
    margin-top: 3em;
}

.apply-btn:hover{
    box-shadow: 4px 16px 40px #e0de42;
}

.animate-icon lord-icon{
    width:250px;
    height:250px;
}

.career-container-apply{
    width: auto;
    margin-top: 4em;
    padding: 3em 0;
    text-align: center;
    background-color: #888e9942;
}

.career-container-apply h1{
    margin: 0;
    font-size: 40px;
}

.career-container-apply p{
    margin: 0.5em 0 0 0;
}



#popup {
    width: 100%;
    position:fixed;
    text-align: right;
    margin:0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 50px 2px #000;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 4em;
    backdrop-filter: blur(4px);
}

.add-poster a img{
    width: 450px;
    height: auto;
    padding: 2em;
}

.add-poster{
    display: flex; 
    justify-content: center;
}

.panel-footer button{
    background: transparent;
    border: none;

}

.panel-footer button lord-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: pulse 1500ms infinite;
    -webkit-animation: pulse 1500ms infinite;
}

.panel-footer button lord-icon:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition:500ms ease-in-out;
    -webkit-transition:500ms ease-in-out;
    -moz-transition:500ms ease-in-out;
    -ms-transition:500ms ease-in-out;
    -o-transition:500ms ease-in-out;
}

@keyframes pulse{
    0%{
        box-shadow: var(--primary-color) 0 0 0 0;
    }

    75%{
        box-shadow: #ff69b400 0 0 0 16px;
    }
}


/* for less then 1200px screen */
@media screen and (max-width: 1200px) {
    .career-container .career-container-header{
        text-align: center;
        flex-direction: column;
    }
    
    .career-container-heading{font-size: 70px;}
    
    .career-container-sub-heading{
        font-size: 38px;
        padding: 0 3em;
    }

    .animate-icon lord-icon{display: none;}
    
    .career-container-header button, .career-container-sub-header button{
        font-size: 32px;
    }
    
    .career-container-sub-header{
        text-align: center;
        flex-direction: column;
    }
    
    .apply-btn{font-size: 28px;}
    
    .career-container-apply h1{font-size: 50px;}
    
    .career-container-apply p{font-size: 28px;}
    
    #popup {
        width: 100%;
       height: 100%;
    }

    .add-poster{
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .add-poster a img{
        width: 500px;
        height: auto;
    }
    
    .panel-footer button lord-icon:hover{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    
}

/* for less then 992px screen */
@media screen and (max-width: 992px) {
    .career-container-heading{font-size: 60px;}
    
    .career-container-sub-heading{font-size: 32px;}

    .career-container-header button, .career-container-sub-header button{font-size: 26px;}

    .apply-btn{font-size: 26px;}
    
    .career-container-apply h1{font-size: 48px;}

    #popup {
        padding:2em 4em;
    }   
}

@media screen and (max-width: 850px){
    .add-poster a img{
        width: 420px;
        height: auto;
    }
}

@media screen and (max-width: 800px){
    .add-poster a img{
        width: 380px;
        height: auto;
    }
}

/* for less then 600px screen */
@media only screen and (max-width: 600px){
    .career-container-heading{font-size: 50px;}
    
    .career-container-sub-heading{
        font-size: 24px;
        padding: 0 2em;
    }

    .career-container-header button, .career-container-sub-header button{
        font-size: 20px;
    }
    
    .apply-btn{font-size: 22px;}
    
    .career-container-apply h1{font-size: 36px;}
    
    .career-container-apply p{font-size: 20px;}

    #popup {
        padding:2em 2em;
    } 

    .add-poster a img{
        width: 350px;
        height: auto;
    }
}

@media only screen and (max-width: 550px){
    .add-poster img{
        width: 260px;
        height: auto;
        padding: 1em;
    }
}

/* for less then 400px screen */
@media only screen and (max-width: 415px){
    .career-container-heading{font-size: 44px;}
    
    .career-container-sub-heading{font-size: 20px;}

    .career-container-header button, .career-container-sub-header button{font-size: 18px;}
    
    .apply-btn{font-size: 20px;}
    
    .career-container-apply h1{font-size: 32px;}
    
    .career-container-apply p{font-size: 18px;}

    #popup {
        padding:1.5em;
    } 

    .add-poster a img{
        width: 270px;
        height: auto;
        padding: 1em;
    }

    .panel-footer button lord-icon{
        width: 40px;
        height: 40px;
    }
}


@media only screen and (max-width: 375px){
    .add-poster a img{
        width: 240px;
        height: auto;
        padding: 1em;
    }
}

@media only screen and (max-width: 360px){
    .add-poster a img{
        width: 230px;
        height: auto;
        padding: 1em;
    }
}


@media only screen and (max-width: 300px){
    .career-container-heading{font-size: 36px;}
    
    .career-container-sub-heading{font-size: 16px;}

    .career-container-header button, .career-container-sub-header button{font-size: 14px;}
    
    .apply-btn{font-size: 18px;}
    
    .career-container-apply h1{font-size: 26px;}
    
    .career-container-apply p{font-size: 14px;}

    #popup {
        padding:1em;
    } 

    .add-poster a img{
        width: 220px;
        height: auto;
        padding: 2em 1em;
    }
} 






