@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-family: sans-serif;
}

:root{
  --primary-color:#FFF200;
  --text-color:#f7f7f7;
  --secondary-color:#26282B;
  --content-text: font-family: 'Cairo', sans-serif;
}

body{
  overflow-x: hidden;
  cursor: pointer;
}

.project-heading{
  text-align: center;
  padding: 2em 0;
  margin: 2em 0;
}

.project-heading h1{
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 0.2em;
}

.project-heading p{
  font-style: var(--content-text);
}

.project-container {
  position : relative;
  width : auto;
  display : flex;
  flex-direction: column;
  text-align: center;
}

.project-container .project-card1 {
  position: relative;
  height: 480px;
  margin: 6em 0;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.video-container .video {
  object-fit: fill; 
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  transition: .1s ease-in-out;
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -ms-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
}

.video-container:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(black, .2);
  z-index: 1;
}

.project-container .video-container:hover .video{
  -webkit-filter: grayscale(1) blur(4px);
  filter: grayscale(1) blur(4px);
  transition-delay: .2s;
}

.project-container .project-card1 .video-container .callout p{
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 2;
    padding: 0 4em;
    color: var(--primary-color);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.project-container .project-card1:hover .video-container .callout p{
  margin-top: 2px;
  visibility: visible;
  opacity: 1;
  transition-delay: .2s;
}

.project-container .project-card1 .project-container-head {
  height: auto;
  position: relative;
  background-color: #eeeeee;
  padding: 1.5em 0;
  margin: 0 3em;
  top: -15%;
  border-radius:15px ;
  z-index: 1;
}

.project-container .project-card1 .project-container-head h3{
  text-align: center;
  width: 100%;
  font-size: 28px;
  color: var(--secondary-color);
  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 2;
}

.patented{
  font-size: 16px;
  color: #ff9900;
}

/* for less then 1280px screen */
@media screen and (max-width: 1280px){
  .project-heading p{font-size: 20px;}

  .project-container .project-card1 {height: 540px;}

  .video-container .video{
    -webkit-filter: grayscale(1) blur(2px);
    filter: grayscale(1) blur(2px);
    transition-delay: .2s;
}

  .project-container .video-container:hover .video{
    -webkit-filter: grayscale(1) blur(1px);
    filter: grayscale(1) blur(1px);
  }

  .project-container .project-card1 .video-container .callout p{
    font-size: 19px;
    letter-spacing: 2px;
    opacity: 1;
    visibility: visible;
    transition-delay: .2s;
    margin-top: 1em;
  }

  .project-container .project-card1:hover .video-container .callout p{margin-top: 1em;}
}

/* for less then 1120px screen */
@media screen and (max-width: 1120px) {
  .project-heading h1{font-size: 55px;}
  
  .project-heading p{font-size: 22px;}

  .project-container .project-card1 {
    height: 620px;
    margin: 6em 0;
  }

  .project-container .project-card1 .video-container .callout p{
      font-size: 21px;
      letter-spacing: 1px;
      padding: 0 2em;
      margin-top: 0.5em;
  }

  .project-container .project-card1:hover .video-container .callout p{margin-top: 0.5em;}

  .project-container .project-card1 .project-container-head {
    margin: 0 2em;
    top: -10%;
  }

  .project-container .project-card1 .project-container-head h3{
    font-size: 24px;
    letter-spacing: 1.5px;
    line-height: 1.5;
  }

  .patented{
    font-size: 18px;
  }
}

/* for less then 995px screen */
@media screen and (max-width: 995px){
  .project-container .project-card1 {
    width: 100%;
    height: 600px;
    margin: 6em 0;
  }

  .project-container .project-card1 .video-container .callout p{
      font-size: 20px;
      letter-spacing: 1.5px;
      line-height: 1.6;
      padding: 0 1.5em;
      margin-top: 1.5em;
  }

  .project-container .project-card1:hover .video-container .callout p{margin-top: 1.5em;}

  .project-container .project-card1 .project-container-head {top: -9%;}
}


/* for less then 780px screen */
@media screen and (max-width: 780px){
 .project-heading h1{font-size: 46px;}
  
  .project-heading p{font-size: 18px;}
  
  .project-container .project-card1 {
    height: 580px;
  }
  
  .project-container .project-card1 .video-container .callout p{
    font-size: 19px;
    letter-spacing: 1.5px;
    margin-top: 1em;
  }
  
  .project-container .project-card1:hover .video-container .callout p{margin-top: 1em;}
  
  .project-container .project-card1 .project-container-head {
    padding: 1em;
    top: -8%;
  }
  
  .project-container .project-card1 .project-container-head h3{font-size: 27px}

}

/* for less then 775px screen */
@media screen and (max-width: 775px){
  .project-container .project-card1 {
    height: 600px;
    margin: 4em 0em;
  }

  .project-container .project-card1 .video-container .callout p{
      font-size: 17px;
      letter-spacing: 1px;
  }

  .project-container .project-card1 .project-container-head {top: -8%;}

  .project-container .project-card1 .project-container-head h3{font-size: 22px}
}

/* for less then 575px screen */
@media screen and (max-width: 575px){
  .project-container .project-card1 {
    height: 580px;
    margin: 4em 0;
  }

  .project-container .project-card1 .project-container-head {top: -6%;}

  .project-container .project-card1 .project-container-head h3{font-size: 20px}

  .patented{
    font-size: 16px;
  }
}

/* for less then 550px screen */
@media screen and (max-width: 550px){
  .project-container .project-card1 {
    height: 600px;
    margin: 4em 0em;
  }

  .project-heading h1{font-size: 38px;}
  
  .project-heading p{font-size: 15px;}

  .project-container .project-card1 .project-container-head h3{font-size: 17px}

  .patented{
    font-size: 14px;
  }
}

/* for less then 511px screen */
@media screen and (max-width: 511px){
  .project-heading h1{font-size: 34px;}
  
  .project-heading p{font-size: 12px;}

  .project-container .project-card1 {height: 500px;}

  .project-container .project-card1 .video-container .callout p{font-size: 15px;}

  .project-container .project-card1 .project-container-head {top: -8%;}

  .project-container .project-card1 .project-container-head h3{font-size: 18px}
}

/* for less then 490px screen */
@media only screen and (max-width: 490px){
  .project-heading h1{font-size: 32px;}
  
  .project-container .project-card1 {height: 500px;}

  .project-container .project-card1 .video-container .callout p{font-size: 13px;}

  .project-container .project-card1 .project-container-head {margin: 0 1em;}

  .project-container .project-card1 .project-container-head h3{font-size: 16px}

  .patented{
    font-size: 12px;
  }
}

/* for less then 415px screen */
@media only screen and (max-width: 415px){
  .project-container .project-card1 .video-container .callout p{font-size: 12px;}

  .project-container .project-card1 .project-container-head h3{font-size: 14px}

  .patented{
    font-size: 12px;
  }
}

/* for less then 370px screen */
@media only screen and (max-width: 370px){
  .project-heading h1{font-size: 28px;}
  
  .project-container .project-card1 .video-container .callout p{font-size: 11px;}
}

/* for less then 320px screen */
@media only screen and (max-width: 320px){
  .project-heading h1{font-size: 26px;}

  .project-heading p{font-size: 10px;}

  .project-container .project-card1 {height: 500px;}

  .project-container .project-card1 .video-container .callout p{font-size: 10px;}

  .project-container .project-card1 .project-container-head h3{font-size: 11px}

  .patented{
    font-size: 10px;
  }
}